# Environmental variables
personal_projects/dashboard_transactions_history/demo_database_creation/.env

# Virtual environments
personal_projects/dashboard_transactions_history/transactions_venv/
personal_projects/dashboard_wallet_yield/wallet_venv/
personal_projects/dashboard_personal_expenses/expenses_venv/

# Other folders and files
personal_projects/dashboard_transactions_history/streamlit_dashboard/build
personal_projects/dashboard_transactions_history/streamlit_dashboard/dist
personal_projects/dashboard_transactions_history/streamlit_dashboard/launch_app.spec
personal_projects/dashboard_wallet_yield/streamlit_dashboard/build
personal_projects/dashboard_wallet_yield/streamlit_dashboard/dist
personal_projects/dashboard_wallet_yield/streamlit_dashboard/launch_app.spec
"personal_projects/dashboard_personal_expenses/streamlit dashboard/build"
"personal_projects/dashboard_personal_expenses/streamlit dashboard/dist"
"personal_projects/dashboard_personal_expenses/streamlit dashboard/launch_app.spec"